<div class="container">
    <br><br>
    <h1>Reportes</h1>
      <h2>Reporte 000000#</h2>
      <p class="text-secondary">Información de reporte:</p>  
      <ul id="lista-reportes" class="list-group">
        <li class="text-secondary">Nombre:</li>  
        <li class="list-group-item">Abel</li>
  
        <li class="text-secondary">Apellido:</li>  
        <li class="list-group-item">Martín</li>
        
        <li class="text-secondary">Correo electrónico:</li>  
        <li class="list-group-item">Morbi leo risus</li>
        
        <li class="text-secondary">Dirección de la fuga:</li>  
        <li class="list-group-item">Porta ac consectetur ac</li>
        
        <li class="text-secondary">Referencia</li>  
        <li class="list-group-item">Vestibulum at eros</li>
        
        <li class="text-secondary">Que hacia al hacer la fuga:</li>  
        <li class="list-group-item">Vestibulum at eros</li>
        
        <li class="text-secondary">Reporte</li>  
        <li class="list-group-item">Vestibulum at eros</li>
        
        <li class="text-secondary">Imagen</li>  
      </ul>
    <br>
    <div class="border-top my-3"></div>
    <br>
    <div class="container-report-comments">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Comentarios</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <a href="adminsentreport.html" class="btn btn-success">Enviar</a>
    </div>
    <br><br><br>
</div>