<app-header-admin></app-header-admin>
<div class="container">
    <br><br>
      <h1>{{ "LISTA.TITLE" | translate }}</h1>
        <h2>{{ "LISTA.SUBTITLE" | translate }}</h2>
        <p class="text-secondary">{{ "LISTA.DESCRIPTION" | translate }} 
        </p>  
      <div id="sign-in">
          <div class="list-group">
              <a href="#" class="list-group-item list-group-item-success flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">00000002</h5>
                  <small>{{ "LISTA.HORA1" | translate }}</small>
                </div>
                <p class="mb-1">Hola buenas tardes quiero reportar una fuga en la calle....</p>
                <small>Abel Martín</small>
              </a>
              <a [routerLink]="['/reporte-admin']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">00000001</h5>
                  <small class="text-muted">{{ "LISTA.HORA2" | translate }}</small>
                </div>
                <p class="mb-1">Hola buenas tardes quiero reportar una fuga en la calle....</p>
                <small class="text-muted">José Vasconcelos.</small>
              </a>
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">00000000</h5>
                  <small class="text-muted">{{ "LISTA.HORA3" | translate }}</small>
                </div>
                <p class="mb-1">Hola buenas tardes quiero reportar una fuga en la calle....</p>
                <small class="text-muted">Enrique Ponce.</small>
              </a>
              <a href="#" class="list-group-item list-group-item-success flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">00000000</h5>
                    <small class="text-muted">{{ "LISTA.HORA4" | translate }}</small>
                  </div>
                  <p class="mb-1">Hola buenas tardes quiero reportar una fuga en la calle....</p>
                  <small class="text-muted">Enrique Ponce.</small>
              </a>
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">00000000</h5>
                    <small class="text-muted">{{ "LISTA.HORA5" | translate }}</small>
                  </div>
                  <p class="mb-1">Hola buenas tardes quiero reportar una fuga en la calle....</p>
                  <small class="text-muted">Enrique Ponce.</small>
              </a>
              <a href="#" class="list-group-item list-group-item-success flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">00000000</h5>
                    <small class="text-muted">{{ "LISTA.HORA6" | translate }}</small>
                  </div>
                  <p class="mb-1">Hola buenas tardes quiero reportar una fuga en la calle....</p>
                  <small class="text-muted">Enrique Ponce.</small>
              </a>
            </div>
      </div>
  </div>
<br><br><br>