<div class="container">
    <div class="text-heading">
      <br><br><br>
      <h1>Estatus de Reporte</h1>
      <br><br>
      <h2>Consulta tu reporte</h2>
      <p class="text-secondary">
          Por favor, ingresa tu número de reporte es posible ver el estado en el que se encuentra tu solicitud. 
      </p>       
    </div>
    <input class="form-control form-control-lg" type="text" placeholder="ingresa aquí tu número de reporte">
    <br><br>
    <button type="button" id="button-estado" class="btn btn-success">Enviar</button>
    <br><br>  
    <br>
    <div class="container-list" id="container-list">
      <div class="list-group">
          <a href="#" class="list-group-item list-group-item-success list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Reporte 0000012</h5>
              <small>5 días</small>
            </div>
            <p class="mb-1">Fuga Reparada</p>
            <small>Calle Pepito Gonzalez</small>
          </a>
        </div>
    </div>
    <br><br><br>
</div>
<br><br><br>

